div.pile{

    border-style: round;
    border-width: 5px 20px;
}
div.tic{

    border-style: round;
    border-width: 5px 20px;
}

div.pile{

    border-style: round;
    border-width: 5px 20px;
}

div.pile{

    border-style: round;
    border-width: 5px 20px;
}